@model List<Cars_MVC.Models.UserConfigurationGroupedViewModel>

@{
    ViewData["Title"] = "Moje konfiguracije";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Moje konfiguracije</h2>

@if (Model.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Korisnik</th>
                <th>Komponente</th>
                <th>Datum konfiguracije</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.ComponentNames</td>
                    <td>@item.CreatedAt.ToString("dd.MM.yyyy. HH:mm")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p><em>Još niste spremili nijednu konfiguraciju.</em></p>
}
