@model Cars_MVC.Models.LoginViewModel

@{
    ViewData["Title"] = "Prijava";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Prijava</h2>

<form asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Prijavi se</button>
    <a asp-action="Register" class="btn btn-link">Nemate račun? Registrirajte se</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
