@model Dao.Models.CarComponentCompatibility

@{
    ViewData["Title"] = "Dodaj kompatibilnost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dodaj kompatibilnost između komponenti</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="CarComponentId1" class="control-label"></label>
        <select asp-for="CarComponentId1" asp-items="ViewBag.Components" class="form-control"></select>
        <span asp-validation-for="CarComponentId1" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CarComponentId2" class="control-label"></label>
        <select asp-for="CarComponentId2" asp-items="ViewBag.Components" class="form-control"></select>
        <span asp-validation-for="CarComponentId2" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Spremi</button>
    <a asp-action="Index" class="btn btn-secondary">Natrag</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
